
$text-light: white;
$text-dark: rgb(34, 32, 32);
$shadow-light: 4px 4px 10px #d6d6d6;
$background-dark: #455056;
$background-mid: #A0B9C8;
$background-light: #F2F2F2;
$colorA: #A0B9C8;
$colorB: #F2F2F2;
$colorC: #455056;
$colorD: #666456;
$colorE: #FFF1CB;


html, body{
    height: 100%;
    width: 100%;
    margin: 0;

}

header{
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
    width: 100%;
    background-color: $background-mid;
}

.mainTitle{
    display: flex;
    
}
.logo{
    display: flex;
    align-items: center;
}

header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo .logoImg{
    height: 50px;
    width: auto;
}
main{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

h1{
    font-family:'montserra';

}

footer{
    display: flex;
}