
$text-light: white;
$text-dark: rgb(34, 32, 32);
$shadow-light: 4px 4px 10px #d6d6d6;
$background-dark: #002642;
$background-mid: #706C61;
$background-light: #F8F4E3;
$colorA: #002642;
$colorB: #706C61;
$colorC: #F8F4E3;
$colorD: #0075F2;
$colorE: #F24236;

*{
    text-decoration: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 16px;
}

body{
    font-family:'ubuntu';
}

header{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    background-color: $background-dark;
    color: $colorC;
    padding: 2rem;
    display: flex;
    justify-content: center;
    nav{
        width: 100%; 
        display: flex;
        height: 60px;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        .mainTitle{
            display: flex;
            align-items: center;
            font-size: 3rem;
            .logoImg{
                height: 3rem;
                padding-right: 1rem; 
            }
        }
        .nav-item{
            &:hover{
                transform: scale(1.05);
                transition: all .2s ease-in-out;
            }
        }
    }
}



/* FOOTER */

footer{
    padding: 0.5rem;
    p{
        font-size: 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0.5rem;
        
    }          
}

/* Section presentation*/

.presentation{
    background-color: $colorA;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    color: $colorC;
    padding-top: 5vh;
    article{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; 
        padding: 6rem 3rem 8rem 3rem;
        width: 100%;
        min-height: 100vh;
        >*{
            max-width: 1200px;
        }
        p{
            font-size: 1.5rem;
            line-height: 2.5rem;
            padding: 1rem;
        }
        h2{
            font-size: 3rem;
            padding: 2rem;
            font-family:'montserrat';
        }
        h3{
            font-size: 2rem;
            padding: 1rem;
        } 
    }
}


.articleTwo{
    background-color: $colorC;
    color: $colorA;
    .racesTortues{
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .tortueTerre, .tortueMer{
            padding-top: 2rem;
        }
    }

    
}

.articleThree{
    h2{
        display: flex;
        justify-content: flex-start;
    }
    .video{
        position: relative;
        overflow: hidden;
        width: 100%;
        padding-top: 56.25%;
        margin-top:5rem;
        iframe{
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 100%;
        }
    } 
}



/* EVENEMENTS */

.events{
    padding-top:120px;
    .event:hover{
        transform: scale(1.05);
    }
    .event{
        margin: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: auto;
        border: 1px solid;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        border-radius:10px;
        padding: 0;
        width: 90%;
        .eventTitle{
            width: 100%;
            height: 400px;
            background: #000 80%/cover url("../images/Tortue_02.jpg") no-repeat;
            border-radius:10px 10px 0 0;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
           
        }
        .eventDescription{
            display: flex;
            flex-direction: column;
            justify-content: start;
            padding: 2rem;
            font-family:'montserrat';
            p{
                font-family:'montserrat';
                padding: 1rem;
            }
            h3{
                font-size: 2.5rem;
            }
        }
    }
}


/* MENU BURGER */

    .toggle{
        display: block;
        font-size: 3rem;
        cursor: pointer;
        position: relative;
        z-index: 10;
        right: 15px;
    }

    .open{
        display: block;
    }
    
    .close{   
       display: none;
    }

    .afficher .open{
        display: none;  
    }

    .afficher .close{ 
        display: block;         
    }

    .navMenu{
        display: flex;
        position: absolute;
        list-style: none;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100vh;
        background-color: $colorB;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        padding : 2rem;
        transition: transform 0.5s;
        text-decoration: none;
        li {
            a{
                color: $colorC;
                text-decoration: none; 
            }
        }
        .nav-item{
            padding: 20px;
            font-size: 3rem;        
            text-transform: uppercase;
            font-family: 'montserrat';
            font-weight: 700;
        }
    }

    .afficher .navMenu{
        transform: translate(100%);
        overflow: hidden;
    }

    .afficher{
        position: relative;
        overflow: hidden;
      }
   
/* MODE PC */

@media all and (min-width: 991px) {

    :root{
       
    }

    .toggle{
        display: none;
    }
    
    .navMenu{
        position: relative;
        background-color: transparent;
        flex-direction: row;
        left: 0;
        padding: 0;
        height: auto;
        width: auto;
        .nav-item{
            padding: 20px;
            font-size: 2rem;        
            text-transform: uppercase;
            font-family: 'montserrat';
            font-weight: 700;
        }
    }
    
    .events{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        width: auto;
        .event{
            display: flex;
            width: 40%; 
        }
    }
}

